body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgba(236, 236, 236, 1);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

.wave {
  position: relative;
  width: 500px;
  height: 500px;

  &-heading {
    position: absolute;
    text-align: center;
    line-height: 500px;
    font-size: 270px;
    text-transform: uppercase;

    &:nth-child(1) {
      color: #7efff5;
    }

    &:nth-child(2) {
      color: #0c0a7e;
      animation: wave 4s ease-in-out infinite;
    }

    &:nth-child(3) {
      color: #141361;
      animation: wave-2 4.5s ease-in-out infinite;
    }
  }
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 53%,
      8% 56%,
      18% 59%,
      29% 61%,
      39% 58%,
      52% 54%,
      61% 49%,
      68% 47%,
      79% 45%,
      88% 46%,
      97% 48%,
      100% 51%,
      100% 100%,
      1% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 53%,
      11% 49%,
      21% 45%,
      33% 44%,
      41% 43%,
      50% 44%,
      61% 49%,
      69% 51%,
      77% 54%,
      85% 55%,
      94% 54%,
      100% 50%,
      100% 100%,
      1% 100%
    );
  }
}

@keyframes wave-2 {
  0%,
  100% {
    clip-path: polygon(
      0 44%,
      8% 40%,
      19% 38%,
      26% 38%,
      35% 40%,
      43% 44%,
      50% 49%,
      59% 54%,
      68% 59%,
      79% 59%,
      90% 57%,
      100% 57%,
      100% 100%,
      1% 100%
    );
  }

  50% {
    clip-path: polygon(
      0 59%,
      8% 64%,
      17% 65%,
      26% 65%,
      35% 60%,
      44% 56%,
      55% 53%,
      64% 51%,
      74% 48%,
      83% 46%,
      92% 43%,
      100% 42%,
      100% 100%,
      1% 100%
    );
  }
}
